.form-input {
  display: grid;
  row-gap: 1rem;

  & > label {
    font-size: 1.6rem;
    font-weight: bold;
  }

  & > input {
    width: 50%;
    outline: none;
    padding: 1rem 0.5rem;
    font-size: 1.8rem;
  }
}
