.categories-section__category {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: max-content 1fr;
  padding: 1rem;
  column-gap: 2rem;

  & > img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }
  & > a,
  & > a:visited {
    font-size: 3rem;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    padding: 0;
    color: var(--color-primary);

    &:hover {
      filter: brightness(150%);
    }
  }
  & > p {
    font-size: 1.6rem;
    grid-column: 2/-1;
    color: #333;
  }
}
